<% @page_title = "Resultados de la busqueda" %>

<section id="portfolio">
  <div class="container">
          
    <div class="center">
      <h2><%= @page_title %></h2>
      <p class="lead"><%= @products.total_entries %></p>
    </div>

    <!-- views/posts/index.html.erb -->
    <div id="products-content">
      <%= render(partial: 'products') %>
    </div>
    
    <%= will_paginate @products %>
    <!-- boton fijo para ir al principio de la página -->
    <a href="#" class="scrollup">Scroll</a>

  </div>
</section><!--/#portfolio-item-->
