<% @page_title = "PreProducto" %>

<div>
  <ul class="pager">
    <li class="previous">
      <%= link_to section_preproducts_path(@section.id) do %>
        <span aria-hidden='true'>&larr;</span> Volver al listado
      <% end %>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Actualizar Preproducto</h3>
      </div>
      <div class="panel-body">
        <%= form_for(:preproduct, :url => section_preproduct_path(@section.id, @preproduct.id), :method => :patch) do |f| %>
        <%= render(:partial => "form", :locals => {:f => f}) %>
        <div class="form-buttons">
          <%= submit_tag("Actualizar PreProducto", :class => "btn btn-primary") %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
