<% @page_title = "Home" %>
<!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Collección Estilfordog
                    <small>Categorías</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-6">
              <% @sections.each do |section| %>
              <div class="col-sm-6 col-xs-6">
                <%= link_to((image_tag section.image.url(:preview), :class => "img-responsive portfolio-item", :title => section.titulo), catalogo_index_path(:section_id => section.id)) %>
              </div>
              <% end %>
            </div>

            <div class="col-md-6">
              <%= image_tag('logo_perro.jpg', :size => '750x700', :class => 'img-responsive', :title => 'Estilfordog', :alt => 'Estilfordog') %>
            </div>
          </div>
        </div>
        <!-- /.row -->
</div>